.card {
     margin: 30px 0px;    
     box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
}

.card:hover {
     box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.2);
}

.hotel-image {
     width: 100%;
     height: 100%;
}

.border-left {
     border-left: 1px solid #fafafa;
}

.border-top {
     border-top: 1px solid #fafafa;
}

.dropdown-item-left {
     font-weight: bold;
     display: inline-block;
     width: 40%;
     padding-right: 30px;
}

.competitor-name {
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
     /* max-width: 120px; */
     font-weight: bold;
}

.more-sites .btn-primary.dropdown-toggle,
.more-sites .btn-primary.dropdown-toggle:active:focus,
.more-sites .btn-primary.dropdown-toggle:focus {
     color: black;
     font-weight: bold;
     background-color: transparent;
     border-color: transparent;
     box-shadow: none;
     padding: 0;
}

.more-sites .btn-primary.dropdown-toggle:hover {
     opacity: 50%;
}